# <b>Week 2: PyLadies Kampala Sprint 2020</b>

## <b>Python For Data Science</b>
<h3>Welcome! In this session we will learn the basics of the Python programming language and the fundamentals of Python for Data Science.</h3>

### ---Writing Your First Python Code!

In [ ]:
#The version of python
import sys
print(sys.version)

In [ ]:
# Try your first Python output
print('Hello, PyLadies!')

<h3>---Writing comments in Python</h3>
<p>Write comments in Python, use the number symbol # before writing your comment. When you run your code, Python will ignore everything past the # on a given line.</p>

In [ ]:
# Practice on writing comments

print('Hello, PyLadies!') # This line prints a string
#print('Hi')

#### <b>TODO:</b> Write a multi-line comment

<hr>
/*this is a multi-line comment*

### ---Python DataTypes 
The most common object types: strings, integers and floats.<br>
Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 105) and floats, which represent real numbers (e.g. 3.14, -42.0).

In [1]:
#Integers
12
type(12)

int

In [2]:
# Float
56.8

56.8

In [3]:
# String - Sequence of characters within quotes

"Hello, PyLadies. Welcomne to week2"

'Hello, PyLadies. Welcomne to week2'

In [4]:
# We use the type() function to check the object type
type(3.14)

float

In [5]:
#Typecasting-Converting from one object type to a different object type
int(9.9)

9

#### <b>TODO:</b> With an example, write about the other python data type that is not covered above

<hr> complex numbers , boolean and built in functions</hr>
 <p> 2 + 3j # complex number with the form < real >+<imaginary>j          
    
    type(True) # boolean data type , takes two arguments True and False    
    
    max() # built in functions that are supported by the python interpreter 
    </p>

<hr>

### --- Variables and Expressions

### Expressions
Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers

In [6]:
#Addition
7 + 9

16

In [7]:
#Division
8 / 2

4.0

In [8]:
#Modulus - resturns the reminder
7 % 5

2

In [9]:
# // - rounds the result down
9 // 5

1

#### <b>TODO:</b> Read more about the Arithmetic Operators and their Precedence

### Variables
Variables are used to store vaules, so we can use them later on.  
For more information about variables check out these links https://www.w3schools.com/python/python_variables.asp, https://www.w3resource.com/python/python-variable.php

In [10]:
a = 2
b = 5
c = a + b
print(c)

7

In [11]:
greeting = "Good afternoon"
name = "Joe"

#concatenation
message = greeting + " " + name

print(message)

Good afternoon Joe

#### <b>TODO:</b> Read about variable naming convention and shorthand expressions

<hr>

### ---Data Structures
Python Data Structures include lists, tuples, dictionaries and sets.

## List 
- Key type of data structures in Python 
- Mixed data types 
- Can be mutable(changeable)

In [12]:
number = [19, 8, 4, 56]
number

[19, 8, 4, 56]

In [13]:
type(number)

list

In [14]:
#List with mixed data types
Person = ["Ava", 7, "girl", "dancing", 23.5, True]

In [15]:
#Nested List 
l3 = ['Hi there', 49, Person]
l3

['Hi there', 49, ['Ava', 7, 'girl', 'dancing', 23.5, True]]

In [16]:
#Accessing elements in a list
Person[1]

7

In [17]:
#length of a list
len(number)

4

In [18]:
#extend() - iterates over its argument and adding each element to the list
my_list = ['Hi', 7]
my_list.extend(number)
my_list

['Hi', 7, 19, 8, 4, 56]

In [19]:
#append() - adds its argument as a single element to end of the list
my_list2 = [8, -9, 'red']
my_list2.append(number)
my_list2

[8, -9, 'red', [19, 8, 4, 56]]

In [20]:
#split() - separates a string into a list based on the argument, the string is split using spaces
"Hello world".split()

['Hello', 'world']

In [21]:
#Overwriting elements in a list
my_list[1] = 23
my_list

['Hi', 23, 19, 8, 4, 56]

In [22]:
#Slicing
num = list(range(1,9))
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
num[:3]

[1, 2, 3]

#### <b>TODO:</b> Read more about slicing and indexing of a list and the range() method

## Tuples 
immutable(unchangeable) list

In [24]:
tuple1 = ('smile', 5.6, 90)
tuple1

('smile', 5.6, 90)

In [25]:
#Nested tuple
tuple2 = ('food', (4, 'hi'), tuple1)
tuple2

('food', (4, 'hi'), ('smile', 5.6, 90))

In [26]:
#Accessing an element in a  nested tuple
tuple2[1][0]

4

<hr>

## ---Dictionaries
key:value pairs - keys are used to access values within a dictionary

In [27]:
Friends = {"Pam":6, "Joe":23, "Ken":[3, 8, 5], ('Kate'):5, (0,1):6}
Friends

{'Pam': 6, 'Joe': 23, 'Ken': [3, 8, 5], 'Kate': 5, (0, 1): 6}

In [28]:
#Getting all the values in a dictionary
Friends.values()

dict_values([6, 23, [3, 8, 5], 5, 6])

In [29]:
#Getting all the keys in a dictionary
Friends.keys()

dict_keys(['Pam', 'Joe', 'Ken', 'Kate', (0, 1)])

In [30]:
#Accessing a dictionary
Friends["Joe"]

23

In [31]:
#Append a value with a key in a dictionary
Friends['Hobby'] = "dance"
Friends

{'Pam': 6, 'Joe': 23, 'Ken': [3, 8, 5], 'Kate': 5, (0, 1): 6, 'Hobby': 'dance'}

In [32]:
#delete entries by Key
del(Friends['Pam'])
Friends

{'Joe': 23, 'Ken': [3, 8, 5], 'Kate': 5, (0, 1): 6, 'Hobby': 'dance'}

In [33]:
#verify if the key is in the dictionary
'Pam' in Friends

False

<hr>

## Sets 
Unique collection of objects in Python. 
 Python automatically deletes/removes duplicate items

In [34]:
set1 = {'love', 'peace', 'joy', 9, 'joy', 'love','love'}
set1

{9, 'joy', 'love', 'peace'}

In [35]:
#Convert list to set
letters = [ 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
letter_set = set(letters)
letter_set

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'}

### -- Set Operations

In [36]:
#add() -  adds an element to a set
set1.add(45)
set1

{45, 9, 'joy', 'love', 'peace'}

In [37]:
#remove() -  removes an item from a set
set1.remove('joy')
set1

{45, 9, 'love', 'peace'}

In [38]:
#in - verifies if an item is in the set
'peace' in set1

True

### -- Set Logic Operations

In [39]:
set2 = {5, 8, 45, 'food', 'love', 10}
set2

{10, 45, 5, 8, 'food', 'love'}

In [40]:
#Intersection
Intersection = set1 & set2
Intersection

{45, 'love'}

In [41]:
#Another way to find the intersection
set1.intersection(set2)

{45, 'love'}

In [42]:
#difference() - Finding elements that are only contained in set1
set1.difference(set2)

{9, 'peace'}

In [43]:
#union - all elements in both sets
set1.union(set2)

{10, 45, 5, 8, 9, 'food', 'love', 'peace'}

In [44]:
#Superset of another
set1.issuperset(set2)

False

In [45]:
#Checking if a set is a subset of another set
set1.issubset(set2)

False

In [46]:
set3 = {5, 8}
set3.issubset(set2)

True

---

 ## ---Loops
Loops perform repeated excutions. 
We will look at two types of loops, for loops and while loops.

In [47]:
#While loop- executes a set of statements as long as a condition is true.
counter = 0
while counter < 12:
    print(counter)
    counter = counter + 1
print("end of loop")

0
1
2
3
4
5
6
7
8
9
10
11
end of loop

In [48]:
#For loop - enables you to execute a code block multiple times. Use the for loop when you know how many times the loop should execute
#range() - 
for i in range(5):
    print("Hi there", i)

Hi there 0
Hi there 1
Hi there 2
Hi there 3
Hi there 4

---

## ---Conditional Statements
Conditional Statements perform different computations or actions depending on whether a specific Boolean constraint evaluates to true or false. 

Comparison operations compare some value or operand and, based on a condition, they produce a Boolean. 
When comparing two values you can use these operators:  
equal:== , not equal:!= , greater than:> , less than:< , greater than or equal to:>= , less than or equal to:<=

#IF Statement - It contains a body of code which runs only when the condition given in the if statement is true.

#Syntax

if cond-expression:
    
    Statement1
    
#The statements after the if statement will run regardless if the condition is true or false 
Statement2

In [49]:
# If statement example

#ELSE Statement-runs a block of code if none of the conditions are True before this else statement

#Syntax  
if cond-expression:  
    
    Statement1  
else:  
    
    Statement2

In [50]:
# else statement example

In [51]:
"""
ELIF statement- short for else if, allows us to check additional conditions if the condition statements before it are False.
If the condition for the elif statement is True, the alternate expressions will be run.
"""

if cond-expression1:
    Statement1
elif cond-expression2:
    Statement2
else:
    Statement3
    
Statement4

NameError: name 'cond' is not defined

In [52]:
#elif statement Example

#### <b>TODO:</b> Read on break, continue statements. And how they are used in Conditional Statements and loops
https://www.programiz.com/python-programming/break-continue

---

## ---Funtions - reusable block of code that performs operations
- predefined eg: range(), print(), len(), type(), min(), return()
- user defined

In [53]:
mylist = list(range(56, 67))
mylist

[56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66]

In [54]:
max(mylist)

66

In [55]:
#Addition Function
def add(a):
    b = a + 1
    return(b)
add(1)

2

In [56]:
#return() - useful in IF statements in the function, when you want the output to be dependant on some condition
def student(name, age):
    print(name, age)
    if age > 18:
        return "Adult"
    else:
        return "below 18 years"
Kate = student("Katerah", 10)
print(Kate)

Katerah 10
below 18 years

<hr>

## ---Lambda expressions

Lambda function is an anonymous function that is defined without a name.
A lambda function can take any number of arguments, but can only have one expression.

Syntax:  
lambda arguments: expression

In [57]:
add = lambda x: x + 1
add(3)

4

#### check out this link for more about lambda functions - https://www.guru99.com/python-lambda-function.html

<hr>

## Recommended sites to learn python 

-Python documentation site - https://docs.python.org/  
-W3schools -  https://www.w3schools.com/python/default.asp  
-W3resources - https://www.w3resource.com/python/python-tutorial.php  
-TutorialsPoint - https://www.tutorialspoint.com/python/index.htm