## <b>TODO Challenges</b>

<hr>

## Quiz on Variables and Expressions

Challenge1:Add parentheses to the expression 6 * 1 - 2 to change its value from 4 to -6.

In [1]:
6 * (1-2)

-6

Challenge2: Take the sentence: All work and no play makes Jack a dull boy. Store each word in a separate variable, then print out the sentence on one line using print.

In [2]:
original_sentence = "All work and no play makes Jack a dull boy"
word_one = "All"
word_two = "work"
word_three = "and"
word_four = "no"
word_five = "play"
word_six = "makes"
word_seven = "Jack"
word_eight = "a"
word_nine = "dull"
word_ten = "boy"

print(word_one, word_two, word_three, word_four, word_five, word_six, word_seven, word_eight, word_nine, word_ten)

All work and no play makes Jack a dull boy

Challenge3
x = 2
y = 3
z = 4

x = x + 1
#write here your shorthand notation

y = y * 2
#write here your shorthand notation

z = z + (y * 2)
#write here your shorthand notation

Challenge4: Write a program that calculates the area of a sphere. Where pi(πr) = 3.14 and radius(r) = 8  
Formula: V = 4/3 πr³

In [3]:
constant = 4/3
pi  = 3.14
radius = 8

volume = constant * (pi ** 3) * radius
print (volume)

330.2308693333333

Challenge5: Create a variable named carname and assign the value Volvo to it. Then print how many characters carname has.  
Warning: you cannot write print(5)

In [4]:
carname = "volvo"
print(len(carname))

5

<hr>

## Quiz on Conditional Statements

Challenge1: Take a student marks, store them in a variable and check the student grade based on below conditions.
If marks greater than or equal to 90 grade is "A"
If marks are in between 80 and 89 (inclusive) then grade is "B"
If marks are in between 70 and 79 (inclusive) then grade is "C"
If marks are in between 60 and 79 (inclusive) then grade is "D"
If marks below 60 then grade is "F"

In [5]:
mark = 50
if mark >= 90:
    print("Grade: A")
elif mark >= 80 and mark < 90:
    print("Grade: B")
elif mark >= 70 and mark < 80:
    print("Grade: C")
elif mark >= 60 and mark < 70:
    print ("Grade: D")
else:
    print("Grade: F")

Grade: F

Challenge2: You have a adult website. You have to restrict users who are having age under 18 years and old people who are having age above 80 years.

In [6]:
age = 90
if age < 18:
    print("Access not granted")
elif age > 80:
    print("Access not granted")
else:
    print("Access granted")

Access not granted

<hr>

## Quiz on Dictonaries

<b>You will need this dictionary for the following questions:</b>  
The Students in a certain class: Mary, Kate, John, Pam, Sathe, Bill and Kristy scored the following marks ina test 67, 89, 74, 90, 50, 50 and 65 respectively:

a) Create a dictionary <code>student_marks_dict</code>.

In [7]:
student_marks_dict = {"Mary": 67, "Kate": 89, "John": 74, "Pam": 90, "Sathe": 50, "Bill": 50, "Kristy": 65}

b) Use the dictionary to find the marks scored by Sathe.

In [8]:
student_marks_dict = {"Mary": 67, "Kate": 89, "John": 74, "Pam": 90, "Sathe": 50, "Bill": 50, "Kristy": 65}
print(student_marks_dict["Sathe"])

50

c) Find the names of the students from the dictionary.

In [9]:
student_marks_dict = {"Mary": 67, "Kate": 89, "John": 74, "Pam": 90, "Sathe": 50, "Bill": 50, "Kristy": 65}
for key in student_marks_dict:
    print(key)

Mary
Kate
John
Pam
Sathe
Bill
Kristy

d) Bill's score recorded are incorrect. The correct score is 78.Update Bill's score marks

In [10]:
student_marks_dict = {"Mary": 67, "Kate": 89, "John": 74, "Pam": 90, "Sathe": 50, "Bill": 50, "Kristy": 65}
student_marks_dict["Bill"] = 78

print(student_marks_dict)

{'Mary': 67, 'Kate': 89, 'John': 74, 'Pam': 90, 'Sathe': 50, 'Bill': 78, 'Kristy': 65}

<hr>

## Quiz on Loops

Challenge1: Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration.  
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [11]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

count = 0

while count < len(list1):
    if list1[count] > 150:
        break
    elif list1[count]%5 == 0:
        print(list1[count])
    count += 1

15
55
75
150

<hr>

## Quiz on Functions

Challenge1: Write a function called even that checks whether a number is even or not. If it is even, the function returns true, otherwise it returns false.

In [12]:
def even (number):
    if number%2 == 0:
        return True
    else:
        return False
    
even(28)

True

Challenge2: Write a Python program to filter(even or oddd) a list of integers(20-35) using Lambda.
Hint: Use the range() method

In [13]:
even_numbers = filter(lambda x: x%2 == 0, range(20,36))
odd_numbers = filter(lambda x: x%2 != 0, range(20,36))

print(list(even_numbers), list(odd_numbers))

[20, 22, 24, 26, 28, 30, 32, 34] [21, 23, 25, 27, 29, 31, 33, 35]